body {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    height: 100% !important;
    margin: 0 !important;
}

.mainDiv {
    width: 300px;
    margin: auto;
    padding: 20px;
}

.headerDiv {
    display: flex;
    justify-content: space-between;
}

.screenDiv {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    font-size: 24px;
}

.keypad {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

.numbers button {
    margin: 5px;
    border: none;
    background-color: #F6F5F2;
    padding: 5px 0;
    border-bottom: 1px solid #F6F5F2 !important;
    border-radius: 4px;
    width: 60%;
}

.actionButtons {
    margin-top: 10px;
}
